.battleground-container {
  height: 66.66%;
  position: relative;
}

#battleground-slot-1 {
  position: absolute;
  height: 25%;
  top: 1rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}